.footer {
    text-align: center;
    font-size: 24px;
    color: #f65261;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #424242;
}

.netflix {
    font-family: 'Franklin Gothic Heavy';
    letter-spacing: 0.01em;
}
