.searchResult {
    display: inline-block;
    margin-left: 150px;
    width: 500px;
    font-weight: bold;
}

.sorterTitle {
    margin-left: 800px;
    display: inline-block;
    margin-right: 30px;
}

.sortButton {
    background: rgba(255, 255, 255, 0.2);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    cursor: pointer;
}

.left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.right {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.selected {
    background-color: #f65251;
}
