.moviesList {
    background-color: #232323;
    padding-top: 50px;
    padding-bottom: 50px;
}

.moviesListContainer {
    max-width: 90%;
}

.movieColumn {
    max-width: 30%;
    margin: 5px;
    margin-right: 2em;
}

.emptyResult {
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    color: #dedede;
    font-family: 'Segoe UI Light';
    font-size: 36px;
}
