.pageSeparator {
  background-color: #555555;
  padding-top: 20px;
  padding-bottom: 20px;

  font-family: 'Segoe UI Light';
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 18px;
}

.pageHeader {
  padding-top: 90px;
  padding-bottom: 90px;

  background-color: #232323;
  font-family: 'Segoe UI Light';
}
