.searchBarContent {
    color: #ffffff;
    margin-left: 150px;
}

.searchBarTitle {
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 5px;
}

.searchField {
    font-size: 24px;
    background: rgba(255, 255, 255, 0.2);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    bottom: 0;
    color: #ffffff;
    margin-right: 10px;

    width: 78%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0;
    letter-spacing: 0.01em;
}

.searchButton {
    font-size: 24px;
    background-color: #f65251;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    border: 0;
    color: #ffffff;
    font-weight: 300;
}

.searchFilter {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.searchFilterTitle {
    display: inline-block;
    margin-right: 30px;
}

.filterButton {
    background: rgba(255, 255, 255, 0.2);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    cursor: pointer;
}

.left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.right {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.selected {
    background-color: #f65251;
}
