.movieInfo {
    font-family: 'Segoe UI Light';
    color: #ffffff;
}

.moviePicture {
    height: 600px;
}

.movieInfoRow {
    display: inline-block;
}

.movieInfoColumn {
    display: inline-block;
    margin-left: 50px;
    vertical-align: top;
}

.movieTitle {
    display: inline-block;
    margin-bottom: 10px;
}

.title {
    display: inline-block;
    font-size: 36px;
}

.rating {
    display: inline-block;
    font-size: 36px;
    color: #a1e66f;
    border-radius: 100%;
    border-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}

.genres {
    font-size: 22px;
    margin-bottom: 10px;
}

.releaseInfo {
    font-size: 16px;
    margin-bottom: 10px;
}

.redText {
    font-size: 26px;
    color: #f65261;
}

.overview {
    width: 1200px;
    font-size: 22px;
}

.homeLink {
    text-align: left;
    font-size: 45px;
    color: #f65261;
    top: 0px;
    position: absolute;
    text-decoration: none;
    margin-left: 95%;
}

.homeLink:hover {
    color: #f65261;
    text-decoration: none;
}
