.header {
    text-align: left;
    font-size: 24px;
    color: #f65261;
    top: 10px;
    left: 50px;
    position: absolute;
    z-index: 10;
    text-decoration: none;
}

.header:hover {
    color: #f65261;
    text-decoration: none;
}

.netflix {
    font-family: 'Franklin Gothic Heavy';
    letter-spacing: 0.01em;
}
