.movieListItem {
    color: #dedede;
    font-family: 'Segoe UI Light';
    margin-bottom: 50px;
}

.moviePoster {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.movieInfo {
    display: inline-block;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.movieTitle {
    display: inline-block;
    width: 427px;
}

.movieYear {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    border-radius: 5px;
    border-color: #555555;
    border-style: solid;
    border-width: 1px;
    font-size: 18px;
}

.movieGenres {
}
