.pageNotFound {
    background-color: #232323;
    font-family: 'Segoe UI Light';
    color: #dedede;

    padding-top: 410px;
    padding-bottom: 410px;
    text-align: center;
    font-size: 36px;
}
